/* Colors */
/* Facebook */
/* Twitter */
/* Youtube */
/* Spotify */
/* Dribbble */
/* Instagram */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  background-color: #f3f6f9;
  display: grid;
  justify-content: center; }

.container {
  background-color: #fff;
  padding: 5rem;
  box-shadow: 0 1rem 2rem rgba(106, 112, 128, 0.02);
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 90vw;
  height: auto;
  border-radius: 5px; }

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .header .logo {
    grid-column: 1 / span 6;
    display: grid;
    align-content: center; }
    .header .logo span {
      font-size: 2rem;
      display: flex; }
    .header .logo img {
      height: 2.5rem;
      margin-right: 1rem; }
    .header .logo p {
      font-size: 1.2rem;
      letter-spacing: .09rem;
      color: #bec4cd;
      margin-top: .5rem; }
  .header .option {
    grid-column: 7 / span 12;
    display: grid;
    justify-content: end;
    align-items: center;
    grid-template-columns: repeat(3, min-content); }
    .header .option__icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 2rem;
      fill: #6b7b93; }
    .header .option button {
      display: grid;
      padding: .6rem;
      border: none;
      border-radius: 50px;
      background-color: #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
      transition: all .2s; }
      .header .option button:hover {
        cursor: pointer;
        transform: translateY(-0.2rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .header .option button .icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #6b7b93; }

.social-profiles {
  grid-column: 1 / -1;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  grid-gap: 3rem; }
  .social-profiles .social-1 {
    display: grid;
    align-items: center;
    justify-items: center; }
    .social-profiles .social-1__icon {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 4rem;
      border-radius: 3rem;
      background-image: linear-gradient(to right, #1958cb, #237ffb);
      box-shadow: 0 0.5rem 1rem rgba(45, 116, 252, 0.4);
      margin-bottom: 2rem;
      transition: all .2s; }
      .social-profiles .social-1__icon .icon {
        width: 5rem;
        height: 5rem;
        fill: #fff; }
      .social-profiles .social-1__icon:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(45, 116, 252, 0.6); }
    .social-profiles .social-1 .new {
      font-size: 1.2rem;
      color: #36bb78;
      margin-top: 1rem; }
    .social-profiles .social-1 .username {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #bec4cd; }
  .social-profiles .social-2 {
    display: grid;
    align-items: center;
    justify-items: center; }
    .social-profiles .social-2__icon {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 4rem;
      border-radius: 3rem;
      background-image: linear-gradient(to right, #4e88ff, #23c1fb);
      box-shadow: 0 0.5rem 1rem rgba(5, 112, 221, 0.4);
      margin-bottom: 2rem;
      transition: all .2s; }
      .social-profiles .social-2__icon .icon {
        width: 5rem;
        height: 5rem;
        fill: #fff; }
      .social-profiles .social-2__icon:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(5, 112, 221, 0.6); }
    .social-profiles .social-2 .new {
      font-size: 1.2rem;
      color: #36bb78;
      margin-top: 1rem; }
    .social-profiles .social-2 .username {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #bec4cd; }
  .social-profiles .social-3 {
    display: grid;
    align-items: center;
    justify-items: center; }
    .social-profiles .social-3__icon {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 4rem;
      border-radius: 3rem;
      background-image: linear-gradient(to right, #915aff, #5b23fb);
      box-shadow: 0 0.5rem 1rem rgba(112, 72, 241, 0.4);
      margin-bottom: 2rem;
      transition: all .2s; }
      .social-profiles .social-3__icon .icon {
        width: 5rem;
        height: 5rem;
        fill: #fff; }
      .social-profiles .social-3__icon:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(112, 72, 241, 0.6); }
    .social-profiles .social-3 .zero {
      font-size: 1.2rem;
      color: #bec4cd;
      margin-top: 1rem; }
    .social-profiles .social-3 .username {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #bec4cd; }
  .social-profiles .social-4 {
    display: grid;
    align-items: center;
    justify-items: center; }
    .social-profiles .social-4__icon {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 4rem;
      border-radius: 3rem;
      background-image: linear-gradient(to right, #ff699a, #ff2f73);
      box-shadow: 0 0.5rem 1rem rgba(252, 43, 158, 0.4);
      margin-bottom: 2rem;
      transition: all .2s; }
      .social-profiles .social-4__icon .icon {
        width: 5rem;
        height: 5rem;
        fill: #fff; }
      .social-profiles .social-4__icon:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(252, 43, 158, 0.6); }
    .social-profiles .social-4 .new {
      font-size: 1.2rem;
      color: #36bb78;
      margin-top: 1rem; }
    .social-profiles .social-4 .username {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #bec4cd; }
  .social-profiles .social-5 {
    display: grid;
    align-items: center;
    justify-items: center; }
    .social-profiles .social-5__icon {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 4rem;
      border-radius: 3rem;
      background-image: linear-gradient(to right, #99da02, #84bd00);
      box-shadow: 0 0.5rem 1rem rgba(178, 244, 26, 0.4);
      margin-bottom: 2rem;
      transition: all .2s; }
      .social-profiles .social-5__icon .icon {
        width: 5rem;
        height: 5rem;
        fill: #fff; }
      .social-profiles .social-5__icon:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(178, 244, 26, 0.6); }
    .social-profiles .social-5 .new {
      font-size: 1.2rem;
      color: #f72e36;
      margin-top: 1rem; }
    .social-profiles .social-5 .username {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #bec4cd; }
  .social-profiles .social-6 {
    display: grid;
    align-items: center;
    justify-items: center; }
    .social-profiles .social-6__icon {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 4rem;
      border-radius: 3rem;
      background-image: linear-gradient(to right, #ff6363, #ff0c23);
      box-shadow: 0 0.5rem 1rem rgba(255, 30, 48, 0.4);
      margin-bottom: 2rem;
      transition: all .2s; }
      .social-profiles .social-6__icon .icon {
        width: 5rem;
        height: 5rem;
        fill: #fff; }
      .social-profiles .social-6__icon:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 1rem rgba(255, 30, 48, 0.6); }
    .social-profiles .social-6 .new {
      font-size: 1.2rem;
      color: #36bb78;
      margin-top: 1rem; }
    .social-profiles .social-6 .username {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #bec4cd; }

.heading-1 {
  font-size: 5rem; }

.heading-2 {
  font-size: 3rem; }

.heading-3 {
  font-size: 2rem; }

.heading-4 {
  font-size: 1.5rem;
  margin-top: 1rem; }

.overview {
  grid-column: 1 / -1;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem; }
  .overview .top-bar {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    .overview .top-bar .heading-2 {
      grid-column: 1 / span 6; }
    .overview .top-bar .filter {
      grid-column: 7 / span 12; }
      .overview .top-bar .filter .icon {
        width: 2rem;
        height: 2rem; }
  .overview .social-1 {
    grid-column: 1 / 5;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4e88ff, #23c1fb);
    box-shadow: 0 0.5rem 1rem rgba(5, 112, 221, 0.4); }
    .overview .social-1__row-1 {
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center; }
      .overview .social-1__row-1 .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
      .overview .social-1__row-1 p {
        font-size: 1.3rem;
        display: grid;
        justify-content: end;
        color: #fff; }
    .overview .social-1__row-2 {
      grid-row: 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center; }
      .overview .social-1__row-2 .heading-1 {
        padding: 2rem;
        color: #fff; }
    .overview .social-1__row-3 {
      grid-row: 3 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative; }
      .overview .social-1__row-3 p {
        font-size: 1.3rem;
        color: #fff; }
      .overview .social-1__row-3 .custom-select {
        position: absolute;
        display: grid;
        right: -1rem; }
        .overview .social-1__row-3 .custom-select select {
          background-color: transparent;
          border: none;
          padding: 1rem 0;
          width: 90px;
          -moz-appearance: button;
          outline: none;
          font-size: 1.2rem;
          color: #fff; }
      .overview .social-1__row-3 .custom-select::before {
        content: "";
        background: url(../img/chevron-down-w.svg);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: .9rem;
        right: 1rem;
        position: absolute; }
  .overview .social-2 {
    grid-column: 5 / 9;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #1958cb, #237ffb);
    box-shadow: 0 0.5rem 1rem rgba(45, 116, 252, 0.4); }
    .overview .social-2__row-1 {
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center; }
      .overview .social-2__row-1 .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
      .overview .social-2__row-1 p {
        font-size: 1.3rem;
        display: grid;
        justify-content: end;
        color: #fff; }
    .overview .social-2__row-2 {
      grid-row: 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center; }
      .overview .social-2__row-2 .heading-1 {
        padding: 2rem;
        color: #fff; }
    .overview .social-2__row-3 {
      grid-row: 3 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative; }
      .overview .social-2__row-3 p {
        font-size: 1.3rem;
        color: #fff; }
      .overview .social-2__row-3 .custom-select {
        position: absolute;
        display: grid;
        right: -1rem; }
        .overview .social-2__row-3 .custom-select select {
          background-color: transparent;
          border: none;
          padding: 1rem 0;
          width: 90px;
          -moz-appearance: button;
          outline: none;
          font-size: 1.2rem;
          color: #fff; }
      .overview .social-2__row-3 .custom-select::before {
        content: "";
        background: url(../img/chevron-down-w.svg);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: .9rem;
        right: 1rem;
        position: absolute; }
  .overview .social-3 {
    grid-column: 9 / -1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff6363, #ff0c23);
    box-shadow: 0 0.5rem 1rem rgba(255, 30, 48, 0.4); }
    .overview .social-3__row-1 {
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center; }
      .overview .social-3__row-1 .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
      .overview .social-3__row-1 p {
        font-size: 1.3rem;
        display: grid;
        justify-content: end;
        color: #fff; }
    .overview .social-3__row-2 {
      grid-row: 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center; }
      .overview .social-3__row-2 .heading-1 {
        padding: 2rem;
        color: #fff; }
    .overview .social-3__row-3 {
      grid-row: 3 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative; }
      .overview .social-3__row-3 p {
        font-size: 1.3rem;
        color: #fff; }
      .overview .social-3__row-3 .custom-select {
        position: absolute;
        display: grid;
        right: -1rem; }
        .overview .social-3__row-3 .custom-select select {
          background-color: transparent;
          border: none;
          padding: 1rem 0;
          width: 90px;
          -moz-appearance: button;
          outline: none;
          font-size: 1.2rem;
          color: #fff; }
      .overview .social-3__row-3 .custom-select::before {
        content: "";
        background: url(../img/chevron-down-w.svg);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: .9rem;
        right: 1rem;
        position: absolute; }
  .overview .social-4 {
    grid-column: 1 / 5;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #915aff, #5b23fb);
    box-shadow: 0 0.5rem 1rem rgba(112, 72, 241, 0.4); }
    .overview .social-4__row-1 {
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center; }
      .overview .social-4__row-1 .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
      .overview .social-4__row-1 p {
        font-size: 1.3rem;
        display: grid;
        justify-content: end;
        color: #fff; }
    .overview .social-4__row-2 {
      grid-row: 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center; }
      .overview .social-4__row-2 .heading-1 {
        padding: 2rem;
        color: #fff; }
    .overview .social-4__row-3 {
      grid-row: 3 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative; }
      .overview .social-4__row-3 p {
        font-size: 1.3rem;
        color: #fff; }
      .overview .social-4__row-3 .custom-select {
        position: absolute;
        display: grid;
        right: -1rem; }
        .overview .social-4__row-3 .custom-select select {
          background-color: transparent;
          border: none;
          padding: 1rem 0;
          width: 90px;
          -moz-appearance: button;
          outline: none;
          font-size: 1.2rem;
          color: #fff; }
      .overview .social-4__row-3 .custom-select::before {
        content: "";
        background: url(../img/chevron-down-w.svg);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: .9rem;
        right: 1rem;
        position: absolute; }
  .overview .social-5 {
    grid-column: 5 / 9;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff699a, #ff2f73);
    box-shadow: 0 0.5rem 1rem rgba(252, 43, 158, 0.4); }
    .overview .social-5__row-1 {
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center; }
      .overview .social-5__row-1 .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
      .overview .social-5__row-1 p {
        font-size: 1.3rem;
        display: grid;
        justify-content: end;
        color: #fff; }
    .overview .social-5__row-2 {
      grid-row: 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center; }
      .overview .social-5__row-2 .heading-1 {
        padding: 2rem;
        color: #fff; }
    .overview .social-5__row-3 {
      grid-row: 3 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative; }
      .overview .social-5__row-3 p {
        font-size: 1.3rem;
        color: #fff; }
      .overview .social-5__row-3 .custom-select {
        position: absolute;
        display: grid;
        right: -1rem; }
        .overview .social-5__row-3 .custom-select select {
          background-color: transparent;
          border: none;
          padding: 1rem 0;
          width: 90px;
          -moz-appearance: button;
          outline: none;
          font-size: 1.2rem;
          color: #fff; }
      .overview .social-5__row-3 .custom-select::before {
        content: "";
        background: url(../img/chevron-down-w.svg);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: .9rem;
        right: 1rem;
        position: absolute; }
  .overview .social-6 {
    grid-column: 9 / -1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 2rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #99da02, #84bd00);
    box-shadow: 0 0.5rem 1rem rgba(178, 244, 26, 0.4); }
    .overview .social-6__row-1 {
      grid-row: 1 / 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center; }
      .overview .social-6__row-1 .icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
      .overview .social-6__row-1 p {
        font-size: 1.3rem;
        display: grid;
        justify-content: end;
        color: #fff; }
    .overview .social-6__row-2 {
      grid-row: 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center; }
      .overview .social-6__row-2 .heading-1 {
        padding: 2rem;
        color: #fff; }
    .overview .social-6__row-3 {
      grid-row: 3 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      position: relative; }
      .overview .social-6__row-3 p {
        font-size: 1.3rem;
        color: #fff; }
      .overview .social-6__row-3 .custom-select {
        position: absolute;
        display: grid;
        right: -1rem; }
        .overview .social-6__row-3 .custom-select select {
          background-color: transparent;
          border: none;
          padding: 1rem 0;
          width: 90px;
          -moz-appearance: button;
          outline: none;
          font-size: 1.2rem;
          color: #fff; }
      .overview .social-6__row-3 .custom-select::before {
        content: "";
        background: url(../img/chevron-down-w.svg);
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        top: .9rem;
        right: 1rem;
        position: absolute; }
  .overview .filter {
    display: grid;
    justify-content: end;
    align-items: center;
    position: relative; }
    .overview .filter .icon {
      fill: #6b7b93; }
    .overview .filter .custom-select {
      position: absolute;
      right: 4rem; }
      .overview .filter .custom-select select {
        background-color: #f2f5f8;
        border: none;
        padding: 1rem;
        border-radius: 50px;
        width: 150px;
        -moz-appearance: button;
        outline: none;
        font-size: 1.2rem;
        color: #6b7b93; }
    .overview .filter .custom-select::before {
      content: "";
      background: url(../img/chevron-down.svg);
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      top: .9rem;
      right: 1rem;
      position: absolute; }
